
$red: #dc3545;

$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: .85rem;
$primary: #6dc8bf;
$input-btn-padding-y-lg: .85rem;
$secondary: #091e31;
$gray-700: #222;
$gray-400: rgb(211,211,219);
$border-radius-lg: .5rem;
$input-focus-color: $primary;
$input-btn-focus-width: 1px;
$form-feedback-icon-invalid: none;